.container {
  display: flex;
  flex-direction: column;
  padding-inline: 24px;
}

.headerContainer {
  display: flex;
  flex: 1;
  align-items: center;
  column-gap: 16px;
  padding-block: 8px;
}

.backButton {
  background-color: unset;
  padding: 0;
  display: flex;
  align-items: center;
}

.backArrowIcon {
  font-size: 42px;
  font-weight: bolder;
  cursor: pointer;
  color: #ffffff;
  line-height: 0;
}

.bodyContainer {
}

.content {
  padding-block: 10px;
  display: flex;
  column-gap: 15px;
  align-items: flex-end;
}

.progressContainer {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 280px;
}

.progress {
  width: 280px;
  height: 48px;
}

.downloadPercentage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  align-self: center;
}

button {
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
}

select {
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 5px;
  font-size: 18px;
  row-gap: 30px;
}

#modelSelectLabel {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: 600;
  row-gap: 10px;
}
